* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10pt;
    line-height: 1;
    height: 100%;
}
body {
    background-color: #555;
    height: 100%;
    text-align: center;
}
h1 {
    color: black;
    font-family: fantasy;
    text-shadow: 0 0 13px lavenderblush;
}
img {
    max-width: 480px;
    max-height: 686px;
}
/* FUNSTUFF */
.fill {
    height: 100%;
    width: 100%;
}
.pwrap {
    background-color: black;
    border-radius: 3em;
    display: inline-block;
    margin: 1em auto;
    position: relative;
    padding: 0.75em;
}
.frame {
    -webkit-filter: blur(4px);
    border: 1em groove lavenderblush;
    border-radius: 3em;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.photo {
    border-radius: 2.25em;
    display: inline-block;
    margin: 0.2em;
    overflow: hidden;
    position: relative;
}

/* FLOAT */
.photo, img {
    float: left;
}
.playing {
    background-color: #666;
}
.label {
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: -2em;
}
.playing .label {
    text-shadow: 1px 2px 3px black;
}

/* GENERIC */
.cwrap {
    border: 1px solid black;
    height: 90%;
    position: relative;
    width: 100%;
}
.centa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
/* */
