@import '_all';

/* FUNSTUFF */
.fill {
    height: 100%;
    width: 100%;
}
.frame {
    background-color: black;
    border-radius: 3em;
    display: inline-block;
    margin: 1em auto;
    position: relative;
    padding: 0.75em;
}
.glow {
    -webkit-filter: blur(4px);
    border: 1em groove lavenderblush;
    border-radius: 3em;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.photo {
    border-radius: 2.25em;
    display: inline-block;
    margin: 0.2em;
    overflow: hidden;
    position: relative;
}

/* FLOAT */
.photo, img {
    float: left;
}
.playing {
    background-color: #666;
}
.label {
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: -2em;
}
.playing .label {
    text-shadow: 1px 2px 3px black;
}

/* GENERIC */
.center-wrap {
    border: 1px solid black;
    height: 90%;
    position: relative;
    width: 100%;
}
.center-this {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
/* */
